.card-component {
    display: flex;
    width: 22rem;
    height: 12rem;
/*     margin-left: 32rem;
 */    

    left: 38%;
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.795) ;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    position: absolute;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    z-index: 2;
  }

  .back-Card-component {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 12rem;
    left: 38%;
    background-color: rgba(0, 0, 0, 0.795);
    border-radius: 1rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    perspective: 1000px; 
    backface-visibility: hidden;
    transform: rotateY(180deg);
    z-index: 1;

    

  }

.card-component.flipped {
  transform: rotateY(180deg);
  z-index: 3;

}

.card-wrapper {
    position: relative;
  }




.chip{
    width: 3rem;
    height: 2.2rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem
    

}

.chip-marca{
    display: flex;
    gap: 13.5rem;
}

.marca{
    margin-top: 1rem;
    font-size: 3rem;
    color: white;
}

.numbers-container{
    display: flex;
    gap: 2.2rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
    margin-top: 0.8rem;
    color: gray;
}

.cardHolder-expiresDate{
    display: flex;
    gap: 9rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
    color: gray;

}

.data-type-card{
    font-size: 0.65rem;
}

.asteriscos{
    margin-left: 18rem;
    margin-top: 0.3rem;
}


.magnetic{
    display: flex;
    height: 3rem;
    width: 22rem;
    background-color: gray;
    margin-top: 1rem;   
}

.whiteCenter-cvv{
    display: flex;
    height: 2rem;
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.884);
    margin-left: 1rem; 
    border-radius: 0.2rem;
    }

    .cvv{
        display: flex;
        margin-left: 19rem;
        margin-top: 1rem;
        font-size: small;
        font-style: oblique;
        color: gray;
    }

    .marca-back{
        margin-left: 18rem;
    }

    @media (min-width: 0px) and (max-width: 1400px) {
        .card-component {
        display: flex;
        left: 12% !important;
        margin-right: 20rem;
        width: 22rem;
        height: 12rem;
        margin-top: 2rem;
        background-color: rgba(0, 0, 0, 0.795) ;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
           transition: transform 0.8s;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;
        z-index: 2;
      }




      .back-Card-component {
        display: flex;
        flex-direction: column;
        width: 22rem;
        height: 12rem;
        left: 12% !important;
        background-color: rgba(0, 0, 0, 0.795);
        border-radius: 1rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        perspective: 1000px; 
        backface-visibility: hidden;
        transform: rotateY(180deg);
        z-index: 1;
    
        
    
      }
    
 }

 @media (max-width: 401px){
    .card-component {
        display: flex;
        left: 12% !important;
        margin-right: 20rem;
        width: 22rem;
        height: 12rem;
        margin-top: 2rem;
        background-color: rgba(0, 0, 0, 0.795) ;
        border-radius: 1rem;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        position: fixed !important;
           transition: transform 0.8s;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;
        z-index: 2;
      }




      .back-Card-component {
        display: flex;
        flex-direction: column;
        width: 22rem;
        height: 12rem;
        left: 12% !important;
        background-color: rgba(0, 0, 0, 0.795);
        border-radius: 1rem;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        perspective: 1000px; 
        backface-visibility: hidden;
        transform: rotateY(180deg);
        z-index: 1;
    
        
    
      }  }
  
  
  
  
  
  