.creditCardForm-component{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 23rem;
    height: 20rem;
    margin-top: 12rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    position: relative;
    box-shadow: 10px 11px 9px -4px rgba(133,125,125,0.75);
    -webkit-box-shadow: 10px 11px 9px -4px rgba(133,125,125,0.75);
    -moz-box-shadow: 10px 11px 9px -4px rgba(133,125,125,0.75);
    z-index: 1;
}


.firstImputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;    

}

.input-label-container{
    display: flex;
    flex-direction: column;
}



.label-inputs{
    color: gray;
    font-size: small;

}


.month-year{
    display: flex;
    gap: 2rem;
}


.form{
    display: flex;
    flex-direction: column;
    
}

.month-year-cvv{
    display: flex;
    gap: 2rem;
}
.selectores{
    display: flex;
    gap: 1rem;
}
.button{
    margin-top: 0.5rem;
}

.cardComponent-form{
    display: flex;
    flex-direction: column;
    position: relative;
}

.date-aux{
    display: flex;
}



/* ///////////////////////////// */